.comparison {
    width: 100%;
    height: 390vh;
    padding-top: 5vh;
}

#column-container {
    margin-bottom: 5vh;
}

#price-graph-holder {
    width: 100%;
    height: 100vh;
    background-color: #2A0F0A;
    padding-top: 7.5vh;
    justify-content: space-around;
    align-items: center;
}

#price-graph {
    height: 70vh;
    justify-content: space-around;
    align-items: center;
}

#popularity-graph-holder {
    width: 100%;
    height: 100vh;
    padding-top: 7.5vh;
}

#releases-graph-holder {
    width: 100%;
    height: 100vh;
    background-color: #2A0F0A;
    padding-top: 7.5vh;
}

.sets-graph {
    height: 80%;
}

.graph-title {
    color: antiquewhite;
    font-family: 'Noto Serif', serif;
    font-size: 4.5vh;
}

.button-container {
    margin-top: 3vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popularity-Controls {
    width: 10vw;
    margin: 2vw;
    color: whitesmoke;
    border-color: whitesmoke;
    background-color: #00000000;
    border-radius: 5vh;
    --bs-btn-active-bg: #2F120D;
    --bs-btn-active-border-color: whitesmoke;
}

.popularity-Controls:hover {
    color: black;
    border-color: whitesmoke;
    background-color: whitesmoke;
}