.comparison {
    width: 100%;
    height: 390vh;
    padding-top: 5vh;
}

#column-container {
    margin-bottom: 5vh;
}

#price-graph-holder {
    width: 100;
    height: 100vh;
    background-color: #2A0F0A;
    padding-top: 7.5vh;
}

#popularity-graph-holder {
    width: 100;
    height: 100vh;
    padding-top: 7.5vh;
}

#releases-graph-holder {
    width: 100;
    height: 100vh;
    background-color: #2A0F0A;
    padding-top: 7.5vh;
}

.graph-title {
    color: antiquewhite;
    font-family: 'Noto Serif', serif;
    font-size: 4.5vh;
}