.footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: antiquewhite;
    background-color: #502017;
    font-family: 'Inter', sans-serif;
}